extends ../layout

block content
  .container#login-container
    form(method="post" url="users/#{user.email}")#login-form.well
      h1 #{user.email} - Account Management
      label Password
        input(type="password", name="pwHash", id='pass-tf', value="#{user.pwHash}").form-control
      br
      label City
        input(type="text", name="city", id='user-tf', value="#{user.city}").form-control
      br
      label State
        input(type="text", name="state", id='user-tf', value="#{user.state}").form-control
      br
      label Zip
        input(type="number", name="zip", id='user-tf', value="#{user.zip}").form-control
      br
      label Position
        input(type="text", name="position", id='user-tf', value="#{user.position}").form-control
      br
      label Website
        input(type="text", name="website", id='user-tf', value="#{user.website}").form-control
      br
      label Field Name
        input(type="text", name="fieldName", id='user-tf', value="#{user.fieldName}").form-control
      br
      input(type="text", name="email", id='user-tf', hidden="true", value="#{user.email}")
      br
      button(type="submit")#btn-login.btn.btn-primary
        i.icon-lock.icon-white
        | Submit
      | &nbsp&nbsp
      a(href="/dashboard/delete/#{user.email}" role="button").btn.btn-danger
        | Delete Account
      div.clear-fix #{error}
  .container
    h2 Authored Articles
    .row
    -for(var i in articles)
      -var article = articles[i]
      .col-6.col-sm-6.col-lg-4
         h3 #{article.title}           
         p
           a(href="/articles/#{article.articleID}" role="button" class="btn btn-default") 
             | View Details &raquo;
           | &nbsp&nbsp
           a(href="/articles/edit/#{article.articleID}" role="button" class="btn btn-info")
             | Edit
           | &nbsp&nbsp
           a(href="/api/articles/delete/#{article.articleID}" role="button" class="btn btn-danger") 
             | Delete
  .container
    h2 Edits
    .row
    -for(var i in edits)
      -var edit = edits[i]
      .col-6.col-sm-6.col-lg-4
        h3 #{edit.title}
        p 
          | #{edit.editDate}
   footer
     include ../partials/page/jsdefaults