extends ../layout

block content
    .container
      h1 #{article.title}
      .container
        h2 Abstract
        p.well
          | #{article.content}
      .container#chart_div
      .container
        .row
          h3 References
          -for(var i in refs)
            -var ref = refs[i]
            p
              a(href='#{ref.urlReference}') #{ref.urlReference}
          h3 Author
          p
            | #{article.email}
          include ../partials/articles/authorizedUser
          block authorizedUser
    footer
      include ../partials/page/testGraph.jade